/* ul li {
    list-style: upper-alpha;
} */
.FAQpageContent > ul li div {
  color: purple;
  font-weight: bolder;
  font-size: 1.3em;
  margin-top: 40px;
}

.FAQpageContent > ul li p {
  font-size: 17px;
  margin-top: 20px;
}
