.Exp_header,
.Catg_header {
  width: 100%;
  height: 70vh;
  background: url('../../images/img2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Catg_header {
  background: url('https://images.unsplash.com/photo-1589903308904-1010c2294adc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.Exp_header__content {
  text-align: center;
}
.Exp_header__content-links div {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 17px;
  display: inline-flex;
  text-align: center;
}
.Exp_header__content-span {
  display: inline-block;
  height: 15px;
  width: 1.5px;
  background: white;
  margin-left: 20px;
  transform: rotate(10deg);
}
.Exp_header__content-h1 {
  font-size: 75px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}
.header__content-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content-links div {
  margin-right: 10%;
}

.exploreNav .nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.exploreNav .nav-link.active {
  color: #fff;
  border-bottom: 3px solid purple;
  font-size: 19px;
  text-shadow: 1.5px 1.5px purple;
  transition: all 0.2s ease-out;
}

.exploreNav .nav {
  padding-left: 55px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.customShow {
  display: flex !important;
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  padding: 25px 100px 50px;
}
.filter {
  justify-content: left;
  margin-bottom: 20px;
}
.sort {
  justify-content: right;
  margin-bottom: 20px;
}

.dropdown-button.show {
  display: block;
}

.filter,
.sort {
  display: flex;
}

.customShow label {
  color: white;
  margin-right: 20px;
  align-self: center;
}

.gameList {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 90px;
}

.card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin-top: 60px; */
  padding-right: 75px;
  padding-left: 75px;
  padding-bottom: 80px;
}

@media screen and (max-width: 720px) {
  .header__content-h1 {
    font-size: 23px !important;
  }
  .header__content-links > div {
    font-size: 12px !important;
  }
  .exploreNav .nav-link {
    font-size: 11px !important;
    padding: 5px;
  }
  .customShow {
    padding: 30px;
  }
  .card__container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
