.profile {
  background-color: #0e0e10;
  padding-left: 50px;
  padding-bottom: 60px;
}

.profile__top {
  display: flex;
  align-items: center;
}

.profile__topLeft {
  display: flex;
  align-items: center;
  flex: 1;
}

.profile__topLeft > img {
  cursor: pointer;
  object-fit: contain;
  height: 90px;
  margin: 35px;
  margin-right: 18px;
  border: 2px solid #35353a;
  border-radius: 50%;
  padding: 3px;
}

.profile__topLeft > img:hover {
  border: 3px solid purple;
}

.profile__topRight {
  font-size: 30px;
  margin: 50px;
}

.profile__topRight > i {
  margin: 10px;
  padding: 6px;
  border-radius: 8px;
  width: 40px;
  text-align: center;
}

.profile__topRight > i:hover {
  color: purple;
}

.profile__topRight > .graybg {
  background-color: #35353a;
}

.profile__menu {
  display: flex;
  margin-left: 40px;
  margin-top: 18px;
  margin-bottom: 55px;
}

.profile__menu > .nav .nav-link > h5 {
  margin-right: 15px;
  cursor: pointer;
}

.profile__menu > .nav .nav-link > h5:hover {
  color: purple;
  text-decoration: none;
}

.profile__menu > .nav .nav-link > h5 > i {
  transform: rotate(45deg);
  margin-right: -5px;
}

.profile__menu > .nav .nav-link.active {
  color: purple;
  border-bottom: 3px solid purple;
  padding-bottom: 5px;
}

.profile__recentItems {
  display: flex;
}

.profile__recent {
  margin-left: 40px;
  margin-right: 80px;
}

.profile__recent > h2 {
  margin-bottom: 40px;
}

.profile__categories {
  margin-top: 40px;
}

.profile__categories .profile__categoriesItem > img {
  width: 250px;
  height: 100%;
  cursor: pointer;
}

.profile__categories .profile__categoriesItem > img:hover {
  width: 300px;
  cursor: pointer;
}

.profile__categories > h2 {
  margin-bottom: 40px;
}

.profile__categories > h3 {
  margin-top: 10px;
}

@media screen and (max-width: 840px) {
  .profile__menu > .nav .nav-link > h5 {
    font-size: 14px;
  }
  .profile__menu > .nav .nav-link {
    margin-right: 4px;
    padding: 2px;
  }
}

@media screen and (max-width: 1140px) {
  .goLiveCard {
    margin-left: 60px;

    /* padding: 0; */
  }
  .goLiveCard > .row {
    margin: 0;
    /* margin-left: -160px; */
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}

@media screen and (max-width: 1140px) {
  .goLiveCard > .row {
    margin-left: -160px;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
